$z-index-background: 0;
$z-index-content: 10;

.Layout {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &__Content {
    z-index: $z-index-content;
    display: flex;
    align-items: center;
    text-align: center;
    align-self: center;
    min-height: 50%;
  }

  &__Background {
    border-radius: 9999px;
    padding: 2rem;
    background: white;
  }

  &__Cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-background;
  }

  &__Footer {
    margin-top: 1em;
    display: flex;
    height: 3em;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
  }

  &__Sidebar {
    z-index: $z-index-content;
    width: 50%;
    text-align: right;

    & + & {
      text-align: left;
    }
  }
}
